{{! Extend the base layout }}
{{#extends "base"}}

{{! Define the content block }}
{{#block "content"}}
   <h1>Category Management</h1>

<form action="/category" method="POST">
    <div>
        <label>Add Category:</label>
        <input type="text" 
            name="category" 
            class="form-control"
            placeholder="Enter category (e.g. Electrical, Plumbing, etc)"
        />
    </div>
    <input type="submit" class="btn btn-primary mt-3" value="Add Category"/>
</form>

<h2>Current Categories</h2>
<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each categories}}
        <tr>
            <td>{{this.category}}</td>
            <td>
                <form action="/category/delete/{{this._id}}" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
        </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{/block}}

{{/extends}}